/**
* all the css is here
**/
$videoWidth:400px;
$videoHeight:300px;
$totalHeight:600px;
$userListHeight:400px;
$primaryColor: #006dcc;

body{
	background:url("images/bg1.gif");
}

.red{
  color:red;
}

.form-signin{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	#userMail.ng-invalid{
		border:solid 1px red;
	}
}

.video-container{
	position: relative;
	background-color: green;
	width: $videoWidth;
	height: $videoHeight;
	video{
		width: $videoWidth;
		height: $videoHeight; 
	}
	.remote-video-container{
		background-color: gray;
		position: absolute;
		bottom: 0px;
		right: 0px;
		video{
			width: $videoWidth/4;
			height: $videoHeight/4;
		}
	}
}

/**
* style for the right side bar
**/
.box{
  padding:10px;
  border:solid 1px gray;
  margin-top:10px;
  ul{
    list-style:none;
	margin-left:-40px;
  }
}
.user-list{
  height:$userListHeight;
  overflow: auto;	
}

.message-board{
  height:$totalHeight - $userListHeight;
}

/**
* css for user profile
**/

.user-pannel{
	$imgWidth:35px;
	position: relative;
	min-width: 200px;
    margin-bottom: 11px;
    .user-profile{
    	img{
    		width: $imgWidth;
    		height: $imgWidth;
    		margin-right: 5px;
    	}
    }
    .tool{
    	display:none;
    	font-size: 21px;
		top: 4px;
		position: absolute;
		right: 23px;
    	& > span{
    		margin-right: 15px;
    	    cursor:pointer;
    	    &.active,&:hover{
    	    	color:$primaryColor;
    	    }
    	}
    }
    &:hover{
       .tool{
       	  display: block;
       }
    };
 
}



