/**
* all the css is here
**/
body {
  background: url("images/bg1.gif"); }

.red {
  color: red; }

.form-signin {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  .form-signin #userMail.ng-invalid {
    border: solid 1px red; }

.video-container {
  position: relative;
  background-color: green;
  width: 400px;
  height: 300px; }
  .video-container video {
    width: 400px;
    height: 300px; }
  .video-container .remote-video-container {
    background-color: gray;
    position: absolute;
    bottom: 0px;
    right: 0px; }
    .video-container .remote-video-container video {
      width: 100px;
      height: 75px; }

/**
* style for the right side bar
**/
.box {
  padding: 10px;
  border: solid 1px gray;
  margin-top: 10px; }
  .box ul {
    list-style: none;
    margin-left: -40px; }

.user-list {
  height: 400px;
  overflow: auto; }

.message-board {
  height: 200px; }

/**
* css for user profile
**/
.user-pannel {
  position: relative;
  min-width: 200px;
  margin-bottom: 11px; }
  .user-pannel .user-profile img {
    width: 35px;
    height: 35px;
    margin-right: 5px; }
  .user-pannel .tool {
    display: none;
    font-size: 21px;
    top: 4px;
    position: absolute;
    right: 23px; }
    .user-pannel .tool > span {
      margin-right: 15px;
      cursor: pointer; }
      .user-pannel .tool > span.active, .user-pannel .tool > span:hover {
        color: #006dcc; }
  .user-pannel:hover .tool {
    display: block; }
